#content {
  display: flex;
  gap: 20px;
  justify-content: center;
}

#player-holder {
  width: 45%;
  text-align: center;
}

#computer-holder {
  width: 45%;
  text-align: center;
}

header {
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
}

.gameboard-field {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid black;
  text-align: center;

  padding: 2px;
  aspect-ratio: 1; /* Makes items square */
}

.gameboard-container {
  display: grid;
  border: 2px solid black;
}
